@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Allura&family=Alumni+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap");

@mixin mobile($size) {
 @media screen and (max-width: 768px) {
  font-size: $size;
 }
}

.AboutWrapper {
 height: 300vh;
 width: 100%;
 background-color: rgba(0, 0, 0, 0.99);
 .AboutContainer {
  max-width: 68%;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
   max-width: 90%;
  }
  .PageHeadingContainer {
   height: 100vh;
   display: flex;
   align-items: center;

   .PageHeading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: clamp(50px, 15vh, 0px) 0 0 0px;
    font-family: "Lora Semibold";
    color: #faf8f9;
    font-size: min(90px, 45px);

    .HeadingRed {
     color: #ea0f1e;
     text-decoration: underline;
     margin: 0 10px 0 0;
    }
   }
  }

  .AboutTextContainer {
   max-width: 68%;
   margin: 0 auto;
   @media screen and (max-width: 768px) {
    max-width: 90%;
   }
   font-family: "Lora";
   color: #faf8f9;
   .AboutTextHeading {
    font-size: 40px;
    font-weight: 600;

    @include mobile(30px);
   }

   .AboutTextSubHeading {
    line-height: 160%;
    font-size: 24px;
    margin-bottom: 4vh;
    @include mobile(18px);
   }

   .AboutText {
    line-height: 170%;
    // font-family: 'Regular';
    font-size: 18px;
    margin-bottom: 3vh;
    @include mobile(14px);
   }
   .Resume {
    color: #ea0f1e;
    font-size: 20px;
    text-decoration: none;
   }
  }
 }
}
