.HomeContainer {
 position: fixed;
 top: 10%;
 right: 10%;
 .Link {
  text-decoration: none;
  .Home {
   font-family: "Lora Semibold";
   color: #faf8f9;
   font-size: 24px;
  }
 }
 @media screen and (max-width: 768px) {
  top: 3%;
 }
}
